extends layout

block content
  .scentsbody
    h1.input #{input}
    .buddy.abon
    if !user
      .logintobuy 
        span You need to&nbsp;
        a(href='/users/login') Log in
        span &nbsp;to add items to cart!
    .abonaments 
      for i in [0]
        .row.container
          .card(data-item-id=abonaments[i]._id)
            .imaromas
              img.image(src='/images/'+abonaments[i].image)              
            div.name 
              h1 #{abonaments[i].name}
            span.desc #{abonaments[i].description.substr(0, 30)}...
            span.wh #{abonaments[i].description}
            span.price $#{(abonaments[i].price/100).toFixed(2)} 
            span.readmore Read More
            span.addtocart(class=user? (user.m_abonamentCart == abonaments[i]._id ? 'removefromcart': '') : '')
              i(class='material-icons') #{user? (user.m_abonamentCart == abonaments[i]._id ? 'remove_shopping_cart': 'add_shopping_cart') : 'add_shopping_cart'}
          .card(data-item-id=abonaments[i+1]._id)
            .imaromas
              img.image(src='/images/'+abonaments[i+1].image)
            div.name  
              h1 #{abonaments[i+1].name}
            span.desc #{abonaments[i+1].description.substr(0, 30)}...
            span.wh #{abonaments[i+1].description}
            span.price $#{(abonaments[i+1].price/100).toFixed(2)} 
            span.readmore Read More
            span.addtocart(class=user? (user.m_abonamentCart == abonaments[i+1]._id ? 'removefromcart': '') : '')
              i(class='material-icons') #{user? (user.m_abonamentCart == abonaments[i+1]._id ? 'remove_shopping_cart': 'add_shopping_cart') : 'add_shopping_cart'}
        .row.container.last
          .card(data-item-id=abonaments[2]._id)
            .imaromas
              img.image(src='/images/'+abonaments[2].image)
            div.name  
              h1 #{abonaments[2].name}
            span.desc #{abonaments[2].description.substr(0, 30)}...
            span.wh #{abonaments[2].description}
            span.price Lei#{(abonaments[2].price/100).toFixed(2)} 
            span.readmore Read More
            span.addtocart(class=user? (user.m_abonamentCart == abonaments[2]._id ? 'removefromcart': '') : '')
              i(class='material-icons') #{user? (user.m_abonamentCart == abonaments[2]._id ? 'remove_shopping_cart': 'add_shopping_cart') : 'add_shopping_cart'}
  if user
    script(type='text/javascript').
      const currentuser = '#{user.username}'
      const scents = `#{scents}`
  else 
    script(type='text/javascript').
      const currentuser = null
      const scents = `#{scents}`
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
  script(src='/javascripts/dot.js')
