extends layout

block content
    <script src="https://js.stripe.com/v3/"></script>
    script(src="https://checkout.stripe.com/checkout.js")
    if user
        script(defer).
            var stripePublicKey = "#{stripePublicKey}"
            var cart = [!{cart}]
        script(src='../javascripts/cart.js')
        <script src="https://js.stripe.com/v3/"></script>
    if user
        .cartbody
            .container.cartcont(style='top: 65px !important; position: relative;')
                h2
                    i(class="large material-icons") shopping_bag
                h7 #{user.username}'s shopping cart:
                - var i = 0
                while i <= cart.length-1
                    .r(data-item-id = ids[i])
                        span ##{i+1}.
                        img.image(src='/images/1.jpg')
                        span #{cart[i].name}
                        label(for='quantity') Quantity
                        input.q(type="number" name="quantity" min="1" max="100" value='1')
                        .btn.btn-prymary.remove-cart-item
                            i.material-icons.large remove_circle
                    - i++
                if user.status == 'verified' && user.addresses
                    .cardinfo
                        <form action="/scents/purchase" method="post" id="payment-form">
                            <div class="form-row">
                                <label for="card-element">Credit or debit card</label>
                                <div id="card-element"></div>
                                <div id="card-errors" role="alert"></div>
                            </div>
                        </form>
                        .btn.buybutton.ndcolor.btn.largebtn(onclick = 'purchaseClicked()') Start Payment
                else
                    .content
                        .verif You need to verify your account and add a <a href='/myaccount' style='color: lime !important; text-decoration: underline;'>delivery address</a> to be able to purchase!
                br
                br
        script.
            currentuser = '#{user.username}'
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")

        script(src='../javascripts/dot.js')
