extends layout

block content
    <script src="https://js.stripe.com/v3/"></script>
    script(src="https://checkout.stripe.com/checkout.js")
    if user
        script(defer).
            const stripePublicKey = "#{stripePublicKey}"
            const cart = [!{cart}]
        <script src="https://js.stripe.com/v3/"></script>
    if user
        if true
            .andu.andu-unfix
                .container.cartcont(style='top: 65px !important; position: relative; word-wrap: break-word; overflow-wrap: break-word; padding: 10px; border: 20px solid rgb(27,27,27); border-radius: 30px !important; margin-bottom: 50px !important;')
                    if cart && cart!=[] && cart!=''
                        if cart.length == 1
                            .oferteavem 
                                span Mai adauga un parfum pentru o reducere de 10%!
                        else if cart.length == 2
                            .oferteavem 
                                span Mai adauga un parfum pentru o reducere de 15%!
                        .cart-q.content
                            .cart-tab-bar
                                .tab-item#put-account-info.done 
                                    span Enter Account
                                .tab-item#start-order.highlig
                                    span Start Order 
                                .tab-item#order-info
                                    span Delivery
                            h5 #{user.username}'s Shopping Cart:
                            - var i = 0
                            while i <= cart.length-1
                                //- data-stripe-id = stripe.find(element => element.name == cart[i].name).id
                                .r.ab-group(data-item-id = ids[i] data-name = cart[i].name)
                                    span.index(style="font-weight: bold; padding: 10px") #{i+1}.
                                    .image-cropper
                                        img(src = '/images/'+ cart[i].image style='border-radius: 50% !important; margin: 5px;')
                                    a.name(href='/scents/'+cart[i].mw, style='word-wrap: break-word; overflow-wrap: break-word;') #{cart[i].name}
                                    label(for='quantity') Quantity
                                    .arrowgroup 
                                        .up 
                                            i.material-icons keyboard_arrow_up
                                        .down
                                            i.material-icons keyboard_arrow_down
                                    input.q(type="number" name="quantity" min="1" max="100" value='1')
                                    .btn.btn-prymary.remove-cart-item
                                        i.material-icons.large remove_circle
                                    span(style="padding: 5px;") #{cart[i].price/100} Lei
                                - i++
                            - i=0
                            span Prima capsula e gratis!
                            .r2.ab-group(data-item-id = 'capsulaRed' data-name = 'capsulaRed')
                                .image-cropper
                                    img(src = '/images/site/ruby.jpg' style='border-radius: 50% !important; margin: 5px;')
                                a.name(style='word-wrap: break-word; overflow-wrap: break-word;') Capsula Rosie
                                label(for='quantity') Quantity
                                .arrowgroup 
                                    .up 
                                        i.material-icons keyboard_arrow_up
                                    .down
                                        i.material-icons keyboard_arrow_down
                                input.qcap.red(type="number" name="quantity" min="0" max="100" value='1' style='background-color: #0a0a0a !important;')
                                span.pr(style="padding: 5px;") 30 Lei
                            .r2.ab-group(data-item-id = 'capsulaBlack' data-name = 'capsulaBlack')
                                .image-cropper
                                    img(src = '/images/site/silver.jpg' style='border-radius: 50% !important; margin: 5px;')
                                a.name(style='word-wrap: break-word; overflow-wrap: break-word;') Capsula Neagra
                                label(for='quantity') Quantity
                                .arrowgroup 
                                    .up 
                                        i.material-icons keyboard_arrow_up
                                    .down
                                        i.material-icons keyboard_arrow_down
                                input.qcap.black(type="number" name="quantity" min="0" max="100" value='0'  style='background-color: #0a0a0a !important;')
                                
                                span.pr(style="padding: 5px;") 30 Lei
                            
                            br
                            br
                            br
                            .btn.cbutton.ndcolor.btn.largebtn(onclick = 'cClicked()') Start Order
                            br
                            br
                            br
                        .cart-a
                            .cart-tab-bar 
                                .tab-item#put-account-info.done
                                    span Enter Account
                                .tab-item#start-order.done
                                    span Start Order  
                                .tab-item#order-info.highlig
                                    span Delivery
                            if user.status == 'verified'
                                h5 Fill in your delivery info!
                                if user.addresses != '' && user.addresses != [] && user.addresses!=null
                                    <form action="/scents/done" method="post" id="payment-form">
                                        <div class="form-row" style="border-radius: 10px !important; padding: 10px">
                                            <label for="deliverymethod">Choose a delivery method:</label>
                                            .custom-select2
                                                <select class='custom-select' id="deliverymethod" name="deliveymethod" style='display: block; border: none !important; background-color: rgba(10,10,10,1) !important; border-radius: 10px;'>
                                                    <option value="postro">Posta Romana</option>
                                                    <option value="curier">Curier</option>
                                                </select>
                                            <label for="addressnr">Choose address:</label>
                                            .custom-select2
                                                <select  id="addressnr" name="addressnr" style='display: block; border: none !important; background-color: rgba(10,10,10,1) !important; border-radius: 10px;'>
                                                    - var i=0
                                                    for address in user.addresses 
                                                        option(value=i) Address #{i+1}
                                                        - i++
                                                </select>
                                            h5#address-display #{user.addresses[0].street}, #{user.addresses[0].city}, #{user.addresses[0].state == '' ? user.addresses[0].county : user.addresses[0].state}, #{user.addresses[0].country}; Zip: #{user.addresses[0].zip}
                                        </div>
                                    </form>
                                h5 Or add a new address!
                                form.addressform(method='post', action='/users/myaccount', enctype='multipart/form-data')
                                    .form-group
                                        span(style='color: grey !important;') 'Street' field example: 23 Jordan Street
                                        input(type="text" 
                                                class="form-control" 
                                                id="autocomplete" 
                                                placeholder="Street" name='street' required)
                                        input(type="text" 
                                                class="form-control" 
                                                id="inputCity" 
                                                placeholder="City" name='city' required)                               
                                        input(type="text" 
                                                class="form-control" 
                                                id="inputState" 
                                                placeholder="State" name='state')                               
                                        input(type="text" 
                                                class="form-control" 
                                                id="inputZip" 
                                                placeholder="Zip" name='zip' required)                              
                                        input(type="text" 
                                                class="form-control" 
                                                id="inputCounty" 
                                                placeholder="County" name='county')                              
                                        input(type="text" 
                                                class="form-control" 
                                                id="inputCountry" 
                                                placeholder="Country" name='country' required)
                                    input.btn.grcolor.btn-prymary(type='submit', name ='submit', value='Add address!')
                                .footer-a
                                    span.perfumes
                                    span.capsules
                                    span Transport: 0.00 Lei
                                    - var discount = 0
                                    if cart.length == 2
                                        - discount = 10
                                    else if cart.length == 3
                                        - discount = 15
                                    span#discount Discount: #{discount}%
                                    span.total(style='border-top: 1px solid grey !important;')
                                    .btn.donebutton.ndcolor.btn.largebtn(onclick = 'doneClicked()') Finish Order
                                    .btn.backbutton.grcolor.btn.largebtn(onclick = 'backClicked()') Back
                            else 
                                .con
                                    span You have to be verified and to add an address to order! Go to <a href='/myaccount'> My Account</a>!
                            br
                            br
                            br
                    else 
                        .con
                            span Please add at least one item to your cart, and at least one perfume! 
                            .mw
                                div(class="women split left")
                                    a(href='/scents/women') &#9792;
                                .separe
                                div(class="men split right")
                                    a(href='/scents/men') &#9794;            
        script(src='../javascripts/cart.js')
        script(src='/javascripts/mwui.js')
        script(src='/javascripts/addressdisplay.js')
        script.
            const addresses = [!{user.addresses}]
            var discount = !{discount}
            console.log('DISCOUNT: '+ discount)
    else 
        .andu.andu-unfix
                .container.cartcont(style='top: 65px !important; position: relative; word-wrap: break-word; overflow-wrap: break-word; padding: 10px; border: 20px solid rgb(27,27,27); border-radius: 30px !important; margin-bottom: 50px !important;')
                    .cart-l 
                        .cart-tab-bar 
                            .tab-item#put-account-info.highlig 
                                span Enter Account 
                            .tab-item#start-order
                                span Start Order 
                            .tab-item#order-info
                                span Delivery
                        a.brand-logo(href='#')
                            img.logoimg(src='/images/logo.png')
                        form(method='post', action='/users/login', enctype='urlencoded', style="margin-right: 10px !important")
                            .form-group
                                label Username
                                input.form-control(name='username', type='text', placeholder='Username', style="background-color: rgb(10,10,10) !important; border-radius: 10px !important; border: none !important; padding-left: 10px;")
                            .form-group
                                label Password
                                input.form-control(name='password', type='password',
                                    placeholder='Parola', style="background-color: rgb(10,10,10) !important; border-radius: 10px !important; border: none !important; padding-left: 10px;")
                            .form-group(style='display: none !important;')
                                input.form-control(name='redirect', type='text',
                                    value='/scents/cart')
                            input.btn.btn-prymary.ndcolor(type='submit', name ='submit', value='Autentificare')
                            .loginre
                                span Client nou?
                                a(href='/users/register').grcolor.btn Creeaza cont
                                a(href='/google' class="oauth-container btn darken-4 white black-text" style="text-transform:none; color: black !important; overflow: visible !important;")
                                    .right
                                        img(width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png")
                                    span Login with &nbsp;
