doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="icon" href="../images/logo.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '351187226122430');
      fbq('track', 'PageView');
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=351187226122430&ev=PageView&noscript=1"
    /></noscript>
    meta(name="google-site-verification" content="lHkfhuYX75GS_wCwflRhkDplr0yb7ANH2yKVBgeY1Gs")

  body
    - var optionsdate = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    link(rel='stylesheet', href='/stylesheets/index.css')
    .navbar-unfix.navbar
      .navbar-header.flex
        a.navbar-brand(href='../').flex
          img.logoimg(src='/images/logo.png')
      .navbar-center
        a(style='font-weight: 700 !important;' href='../') Ascent
      .navbar-body
        ul.nav.navbar-nav
          if !user
            li.login(class =(title == 'Login' ? 'active' : ''))
              a(href='/users/login').flex
                i(class='material-icons') person
          else
            if user
              li.hideon-sw
                a(href='/myaccount').flex
                  i(class='material-icons') person
              //-li.flex.hideon-sw
                a(href='/scents/cart').flex
                  i(class="material-icons") shopping_cart
          li.menu
              i(class='material-icons') menu
    .customsidenav.customsidenav-unfix
      .content.container
        span Acasă
        li.home
          a(href='/') Acasă
        if !user
          li.register(class =(title == 'Register' ? 'active' : ''))
            a(href='/users/register') Înregistrează-te
          li.login(class =(title == 'Login' ? 'active' : ''))
            a(href='/users/login') Log In
         
        span Parfumuri
        li
          a(href='/scents/men') Pentru bărbati
        li
          a(href='/scents/women') Pentru femei

        if user
          span Coș
          li.flex
            a(href='/scents/cart').flex Coșul de cumpărături
                //-i(class="material-icons") shopping_cart
          li.flex
            a(href='/myaccount/orders') Comenzile mele
          

        if user
          span Cont
          li
            a(href='/myaccount') Contul meu
          li
            a(href='/users/logout') Log Out
        
        if user
          if user.status != 'verified'
            span Verifică-ți contul!
            li
              a.verify(href='/verify') Verifică-ți contul
    .messages(style='position: absolute;')
      if true
        != messages()
      if user
        if user.status != 'verified'
          li(style='  list-style: none !important;')
            a.verify(href='/verify') Verifică-ți contul
    .fixed-action-btn
      a.btn-floating.btn-large(href='/scents/cart') 
        if !user
          i.material-icons.crt shopping_cart
            .before +
        else if user.cart.length>0
          i.material-icons.crt.cartnotempty shopping_cart
            .before +
        else 
          i.material-icons.crt shopping_cart
            .before +
    if user 
      script.
        const currentuser = '#{user.username}'
        const currentCartLength = !{user.cart.length}
    else 
      script.
        const currentuser = null
        const currentCartLength = 0

    block content

    div(class="page-footer footer")
      div.container
        div.row
          div(class="col l6 s12")
            h5(class="white-text") Contactați-ne: <a href='mailto:ascent.romania.help@gmail.com' style="word-wrap: break-word !important;">ascent.romania.help@gmail.com</a>
          div(class="col l4 offset-l2 s12")
            h5 Urmăriți-ne!
            ul
              li.followus
                a(class="grey-text text-lighten-3" href="https://www.instagram.com/ascent.perfumes/") <i class="fa fa-instagram"></i>
                a(class="grey-text text-lighten-3" href="https://m.facebook.com/Ascent-100147168812474/?ref=bookmarks") <i class="fa fa-facebook"></i>
              //-li
                a(class="grey-text text-lighten-3" href="#aboutus") About Us
              //-li
                a(class="grey-text text-lighten-3" href="#!help") Help
              li
                a(class="grey-text text-lighten-3" onclick='toClip()') Invită un prieten!
      input#myLinkInput(style='opacity: 0; max-width: 2px; max-height: 2px !important;' value='www.ascentperfumes.com')
      div.footer-copyright
        div.container © 2020 Ascent Romania
          a(class="grey-text text-lighten-4 right" href="/privacypolicy" style="font-size: 1em !important") Privacy Policy
          
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src='/javascripts/ui.js')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script(src='../javascripts/dot.js')