extends layout

block content
    if user
        .andu.andu-unfix
            .mainmyacc
                .container.myacc
                    .header
                        .header-head
                            img(src='/images/user-alt.png')
                            .uinfo
                                span.name #{user.name} #{user.vorname}
                                span.datecreated Membru din #{user.dateCreated ? user.dateCreated.toLocaleDateString("ro") : ' - '}
                    .body
                        .section.main 
                            .title 
                                .title2#personal-data Info
                                .title2#other Parolă
                                .title2#my-memes Memes
                            .content.personal-data
                                .form-group 
                                    label Metodă de Login
                                    input.form-control(disabled name='loginmethod', type='text', placeholder='Method', value=user.userType)
                                .form-group
                                    label Nume
                                    input.form-control(disabled name='name', type='text', placeholder='Nume', value=user.name)
                                .form-group
                                    label Prenume
                                    input.form-control(disabled name='vorname', type='text', placeholder='Prenume', value= user.vorname)
                                .form-group
                                    label Data Nașterii
                                    input.form-control(disabled name='birthdate', type='text', class="datepicker", placeholder='Data Nasterii', value = user.birthdate)
                                .form-group
                                    label Username
                                    input.form-control(disabled name='username', type='text', placeholder='Username', value = user.username)
                                form(method='post', action='/users/myaccount', enctype='multipart/form-data')
                                    span(style='color: gray !important;') Dacă folosiți Google pentru log in, nu o să puteți să vă schimbați e-Mailul
                                    if user.userType != 'google'
                                        .form-group
                                            label E-mail
                                            input.form-control(required,name='email', type='email', placeholder='E-mail', value= user.email)
                                        input.btn.btn-prymary(type='submit', name ='submit', value='Salvați modificările!')
                            .content.other
                                if user.userType != 'google'
                                    if user.status == 'verified'
                                        form(method='post', action='/users/password', enctype='multipart/form-data')
                                            .form-group
                                                label 
                                                input.form-control(required,name='password', type='password', placeholder='Schimbați-vă parola', style='border: none !important; border-radius: 10px; padding-left: 10px; padding-right: 10px; width: calc(100% - 20px) !important')
                                            input.btn.btn-prymary(type='submit', name ='submit', value='Salvați modificările!')
                                    else
                                        .verif Trebuie să vă verificați contul!
                            .content.my-memes
                                h4.wide.head.subtitle(style="margin-bottom: 50px;") Thou memes:
                                - var i = 0
                                .posts.flex-row.wrap.jcenter
                                    while i < memes.length
                                        .meme-card.flex-column
                                            .overlay-h.round
                                                h5.title.wht.maw #{memes[memes.length - 1 - i].title}
                                                h7.wht.maw.min #{memes[memes.length - 1 - i].desc}
                                                if user
                                                    if user.id == memes[memes.length - 1 - i].userID
                                                        form.delet(method='post', action='/memes/d/'+memes[memes.length - 1 - i]._id, enctype='multipart/form-data')
                                                            input.btn.purple.btn-prymary.round(id="submit" type='submit', name ='submit', value='Delet!',  style='margin-top: 1em;')
                                            img.square.round(src=memes[memes.length - 1 - i].image)
                                        - i++
            script(src='/javascripts/address.js')
