extends layout

block content
    .mainmyacc
        .container.myacc
            .header
                .header-head
                    img(src='/images/user-alt.png')
                    .uinfo
                        span.name #{user.name} #{user.vorname}
                        span.datecreated Member since #{user.dateCreated ? user.dateCreated.toLocaleDateString() : ' - '}
            .body
                .section
                    .title Personal Data
                    .content
                        .form-group
                            label Nume
                            input.form-control(disabled name='name', type='text', placeholder='Nume', value=user.name)
                        .form-group
                            label Prenume
                            input.form-control(disabled name='vorname', type='text', placeholder='Prenume', value= user.vorname)
                        .form-group
                            label Data Nasterii
                            input.form-control(disabled name='birthdate', type='text', class="datepicker", placeholder='Data Nasterii', value = user.birthdate)
                        .form-group
                            label Username
                            input.form-control(disabled name='username', type='text', placeholder='Username', value = user.username)
                        form(method='post', action='/users/myaccount', enctype='multipart/form-data')
                            .form-group
                                label E-mail
                                input.form-control(name='email', type='email', placeholder='E-mail', value= user.email)
                            input.btn.btn-prymary(type='submit', name ='submit', value='Save changes!')
                .section
                    .title My Addresses
                    .content
                        - var i = 0
                        for address in user.addresses
                            - i++;
                            .addresscontainer
                                form.removeaddressform(method='post', action='/users/removeaddress', enctype='multipart/form-data')
                                    .form-group
                                        label Address #{i}
                                        input.form-control(disabled, id=user.addresses[i-1] name='Address #{i}', type='text', placeholder='Address #{i}', value=JSON.parse(user.addresses[i-1]).street +", "+JSON.parse(user.addresses[i-1]).city+ ", "+JSON.parse(user.addresses[i-1]).county+ ", "+JSON.parse(user.addresses[i-1]).country+ ", Zip Code: " + JSON.parse(user.addresses[i-1]).zip)
                                    .form-group(style='display: none !important;')
                                        input.form-control(name='toremove', type='text', value=user.addresses[i-1])
                                    input.btn.btn-prymary(type='submit', name ='submit', value='Remove')
                        form.addressform(method='post', action='/users/myaccount', enctype='multipart/form-data')
                            .form-group
                                input(type="text" 
                                        class="form-control" 
                                        id="autocomplete" 
                                        placeholder="Street" name='street')
                                input(type="text" 
                                        class="form-control" 
                                        id="inputCity" 
                                        placeholder="City" name='city')                               
                                input(type="text" 
                                        class="form-control" 
                                        id="inputState" 
                                        placeholder="State" name='state')                               
                                input(type="text" 
                                        class="form-control" 
                                        id="inputZip" 
                                        placeholder="Zip" name='zip')                              
                                input(type="text" 
                                        class="form-control" 
                                        id="inputCounty" 
                                        placeholder="County" name='county')                              
                                input(type="text" 
                                        class="form-control" 
                                        id="inputCountry" 
                                        placeholder="Country" name='country')
                            input.btn.btn-prymary(type='submit', name ='submit', value='Add address!')
        script(src='/javascripts/address.js')
