extends layout

block content
    .mainmyacc.andu.andu-unfix
        .container.myacc
            .header
                .header-head
                    img(src='/images/user-alt.png')
                    .uinfo
                        span.name Comanda: #{order.id}
                        span.datecreated Comandată la: #{order.createdAt.toLocaleDateString("ro", optionsdate)}
                        span.datedelivered Livrată la sau înainte de:  #{order.deliveryDate.toLocaleDateString("ro", optionsdate)}
                        
            .body
                if order.status == 'canceled'
                    .section
                        .title Status 
                        .content 
                            .title2(style='color:red !important;') Comanda a fost anulată
                else if order.status == 'delivered'
                        .section
                            .title Status 
                            .content 
                                .title2(style='color:red !important;') Comanda a fost livrată
                else if order.status == 'sentto'
                        .section
                            .title Status 
                            .content 
                                .title2(style='color:red !important;') Comanda a fost trimisă

                .section
                    .title Informații despre user
                    .content 
                        .title2 User: #{user.name} #{user.vorname}
                        .title2 Email: #{order.email}
                .section
                    .title Informații despre livrare
                    .content 
                        .title2 #{order.shipping.name}
                        .title2 Adresa: #{order.shipping.address.line1}, #{order.shipping.address.city}, #{order.shipping.address.state}, #{order.shipping.address.country}
                        .title2 Cod poștal: #{order.shipping.address.postal_code}
                        .title2 Metodă de livrare: #{order.deliverymethod == 'postro' ? 'Posta Romana': 'Curier' }
                - var totalprod = 0
                - var totalabon = 0
                
                .section 
                    .title Produse comandate
                    .content
                        for prod in order.products
                            .ab-group
                                .titleimg
                                    .image-cropper
                                        img(src = '/images/'+ productArr.find(el => el.id == prod.id).image style='border-radius: 50% !important; margin: 5px;')
                                    .title2 #{productArr.find(el => el.id == prod.id).name}
                                .quan 
                                    - var price = 0
                                    if order.products[0].price
                                        - price = order.products.find(el => el.id == prod.id).price
                                    else 
                                        - price = productArr.find(el => el.id == prod.id).price
                                    span Cantitate #{prod.quantity}
                                    - totalprod+=prod.quantity*price/100
                                    span Preț #{prod.quantity} x #{price/100}=Lei#{prod.quantity*price/100}
                if order.capsulesCount > 0
                    .section 
                        .title 
                        .content 
                            .ab-group 
                                .titleimg 
                                    .image-cropper
                                        img(src = '/images/site/blackdiamond.jpg' style='border-radius: 50% !important; margin: 5px;')
                                    .title2 Capsule
                                .quan 
                                    span Cantitate: #{order.capsulesType.red} Red + #{order.capsulesType.black} Black = #{order.capsulesCount} 
                                    span Preț: (#{order.capsulesCount}-1free) x 30=Lei#{(order.capsulesCount-1)*30}  
                .section 
                    .title 
                    .content 
                        .ab-group 
                            .quan 
                                span 
                                span Total: #{order.amount/100} cu #{order.discountPercentage}% discount la parfumuri.
                .section 
                    .title 
                    .content.ndcolor.total 
                        .ab-group 
                            .quan 
                                span 
                                span.ndtext Total: Lei#{ order.afterDiscount ? order.afterDiscount/100 : (100-order.discountPercentage)/100 * order.amount/100}