extends layout

block content
    .mainmyacc
        .container.myacc
            .header
                .header-head
                    img(src='/images/user-alt.png')
                    .uinfo
                        span.name #{user.name} #{user.vorname}'s orders
                        span.datecreated Member since #{user.dateCreated ? user.dateCreated.toLocaleDateString() : ' - '}
            .body
                .section
                    .title Orders 
                    .content.ordersid
                        for order in orders
                            .ab-group
                                a.gotoorder(href='/myorders/'+order.id style='color: lime !important; text-decoration: underline !important;') Click here to view order info!
                                .title2.rowreverse Email: #{order.email}
                                .date.rowreverse #{order.dateCreated}
                                .subid.rowreverse Order id: #{order.id}
                                if order.status == 'sent'
                                    .other1 Order will be delivered in 2-3 days after ordered!
                                else 
                                    .other1 Order has been delivered!
                                