extends layout

block content
  .scentsbody.sc.andu.andu-unfix
    h1.input #{input}
    if !user
      .logintobuy 
        span You need to&nbsp;
        a(href='/users/login') Log in
        span &nbsp;to buy!
      .storage 
        .grcolor.clearstorage(onclick = 'localStorage.clear();')
    .buddy
      - var i = 0
      for scent in scents
        if i%2==0 && scents[i+1]
          .row.container
            .card(data-item-id=scents[i]._id)
              .imaromas
                img.image(src='/images/'+scents[i].image)
                .row
                  .bb
                    div.b1.b
                      img(src='/images/' + scents[i].aromasPics[0])
                    //- span.a1 #{scents[i].aromas[0]}
                  .bb
                    div.b2.b
                      img(src='/images/' + scents[i].aromasPics[1])
                    //- span.a2 #{scents[i].aromas[1]}
                  .bb
                    div.b3.b
                      img(src='/images/' + scents[i].aromasPics[2])
                    //- span.a3 #{scents[i].aromas[2]}
                  .bb
                    div.b4.b
                      img(src='/images/' + scents[i].aromasPics[3])
                    //- span.a4 #{scents[i].aromas[3]}
              div.name 
                h1 #{scents[i].name}
              span.desc #{scents[i].description.substr(0, 30)}...
              span.wh #{scents[i].description}
              //span.price Lei#{(scents[i].price/100).toFixed(2)} 
              span.readmore Read More
              if user? user.m_abonamentCart: null
              span.addtocart(class=user? (user.cart.includes(scents[i]._id) ? 'removefromcart': '') : '')
                i(class='material-icons') add_circle
            .card(data-item-id=scents[i+1]._id)
              .imaromas
                img.image(src='/images/'+scents[i+1].image)
                .row
                  .bb
                    div.b1.b
                      img(src='/images/' + scents[i+1].aromasPics[0])
                    //- span.a1 #{scents[i+1].aromas[0]}
                  .bb
                    div.b2.b
                      img(src='/images/' + scents[i+1].aromasPics[1])
                    //- span.a2 #{scents[i+1].aromas[1]}
                  .bb
                    div.b3.b
                      img(src='/images/' + scents[i+1].aromasPics[2])
                    //- span.a3 #{scents[i+1].aromas[2]}
                  .bb
                    div.b4.b
                      img(src='/images/' + scents[i+1].aromasPics[3])
                    //- span.a4 #{scents[i+1].aromas[3]}
              div.name  
                h1 #{scents[i+1].name}
              span.desc #{scents[i+1].description.substr(0, 30)}...
              span.wh #{scents[i+1].description}
              //-span.price Lei#{(scents[i+1].price/100).toFixed(2)} 
              span.readmore Read More
              if user? user.m_abonamentCart: null
              span.addtocart(class=user? (user.cart.includes(scents[i+1]._id) ? 'removefromcart': '') : '')
                i(class='material-icons') add_circle
            
              
        - i++
      - i--
      if i%2 == 0  
        .row.container
          .card(data-item-id=scents[i]._id)
            .imaromas
              img.image(src='/images/'+scents[i].image)
              .row
                .bb
                  div.b1.b
                    img(src='/images/' + scents[i].aromasPics[0])
                  //- span.a1 #{scents[i].aromas[0]}
                .bb
                  div.b2.b
                    img(src='/images/' + scents[i].aromasPics[1])
                  //- span.a2 #{scents[i].aromas[1]}
                .bb
                  div.b3.b
                    img(src='/images/' + scents[i].aromasPics[2])
                  //- span.a3 #{scents[i].aromas[2]}
                .bb
                  div.b4.b
                    img(src='/images/' + scents[i].aromasPics[3])
                  //- span.a4 #{scents[i].aromas[3]}
            div.name 
              h1 #{scents[i].name}
            span.desc #{scents[i].description.substr(0, 30)}...
            span.wh #{scents[i].description}
            //span.price Lei#{(scents[i].price/100).toFixed(2)}  
            span.readmore Read More
            if user? user.m_abonamentCart: null
            span.addtocart(class=user? (user.cart.includes(scents[i]._id) ? 'removefromcart': '') : '')
              i(class='material-icons') add_circle
                          
          .card
            .imaromas
              img.image(src='/images/1.jpg')
              span.comingsoon Coming Soon!
            h1.name Sugerati-ne parfumuri!
            form(method='post', action='/scents/suggest', enctype='urlencoded')
              input(type="email" placeholder='Your email' name='email' required)
              input(type="text" placeholder='Suggestion' name='suggestion' required )
              input.btn.grcolor(type="submit")

  script(type='text/javascript').
    const scents = `#{scents}`
