extends layout

block content
  .scentsbody
    h1.input #{input}
    .buddy
      for i in [0,2]
        .row.container
          .card
            .imaromas
              .col
                div.b1.b
                span.a1 #{scents[i].aromas[0]}
                div.b2.b
                span.a2 #{scents[i].aromas[0]}
                div.b3.b
                span.a3 #{scents[i].aromas[0]}
              img.image(src='/images/1.jpg')
              .col
                div.b1.b
                span.a1 #{scents[i].aromas[1]}
                div.b2.b
                span.a2 #{scents[i].aromas[1]}
                div.b3.b
                span.a3 #{scents[i].aromas[1]}
            div.name 
              h1 #{scents[i].name}
            span.desc #{scents[i].description.substr(0, 200)}...
            span.wh #{scents[i].description}
            span.addtocart
              i(class='material-icons') add_shopping_cart
            span.readmore Read More
          .card
            .imaromas
              .col
                div.b1.b
                span.a1 #{scents[i+1].aromas[0]}
                div.b2.b
                span.a2 #{scents[i+1].aromas[0]}
                div.b3.b
                span.a3 #{scents[i+1].aromas[0]}
              img.image(src='/images/1.jpg')
              .col
                div.b1.b
                span.a1 #{scents[i+1].aromas[1]}
                div.b2.b
                span.a2 #{scents[i+1].aromas[1]}
                div.b3.b
                span.a3 #{scents[i+1].aromas[1]}
            div.name  
              h1 #{scents[i+1].name}
            span.desc #{scents[i+1].description.substr(0, 200)}...
            span.wh #{scents[i+1].description}
            span.addtocart
              i(class='material-icons') add_shopping_cart
            span.readmore Read More
      .row.container
        .card
          .imaromas
            .col
              div.b1.b
              span.a1 #{scents[4].aromas[0]}
              div.b2.b
              span.a2 #{scents[4].aromas[0]}
              div.b3.b
              span.a3 #{scents[4].aromas[0]}
            img.image(src='/images/1.jpg')
            .col
              div.b1.b
              span.a1 #{scents[4].aromas[1]}
              div.b2.b
              span.a2 #{scents[4].aromas[1]}
              div.b3.b
              span.a3 #{scents[4].aromas[1]}
          div.name 
            h1 #{scents[4].name}
          span.desc #{scents[4].description.substr(0, 200)}...
          span.wh #{scents[4].description}
          span.addtocart
            i(class='material-icons') add_shopping_cart
          span.readmore Read More
        .card
          .imaromas
            img.image(src='/images/1.jpg')
            span.comingsoon Coming Soon!
          h1.name Sugerati-ne parfumuri!
          form
            input(type="text" placeholder='name')
            input(type="submit")
  script(type='text/javascript').
    const currentuser = '#{user.username}'
    const scents = JSON.parse('#{scents}')
  script(type='text/javascript' src='/javascripts/dot.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
